<!-- login -->

<form method="post" action="/login">
  <span class="close" id="close-log-in">&times;</span>
  <img src="/assets/logo-nb-nt-smiley-200.webp" alt="logo"
    style="height: 40px; width: 40px; margin: -9px -10px -1px 0px;">
  <br>
  <label for="username">Username:</label>
  <input type="text" name="username" required>
  <br>
  <label for="password">Password:</label>
  <input type="password" name="password" required>
  <br>
  <button type="submit">Log In</button>
  <p id="reset-pwd-btn">
    Trouble Logging In?
  </p>
</form>

<!-- password reset modal-->
<div id="password-reset-modal" class="modal" style="display: none;">
  <div class="modal-content">
    <span class="close" id="close-password-reset">&times;</span>
    <img src="/assets/logo-nb-nt-smiley-200.webp" alt="logo"
      style="height: 40px; width: 40px; margin: -9px -10px -1px 0px;">
    <p>Please enter your email address to receive a password reset link:</p>
    <form id="password-reset-form" method="post" action="/api/resetpassword">
      <label for="email">Email address:</label>
      <input type="email" name="email" id="email2" required>
      <button id="password-reset-button" type="submit">Send</button>
    </form>
  </div>
</div>