{{!-- modal form for manual barcode entry--}}
<div class="modal-content">
  <form id="enter-manual-barcode-form" method="GET" action="/search-items/manual-search">
    <span class="close" id="close-manual-barcode-form">&times;</span>
    <img src="/assets/logo-nb-nt-smiley-200.webp" alt="logo"
      style="height: 40px; width: 40px; margin: -9px -10px -1px 0px;">
    <br>
    {{#if toastMessage}}
    <div class="error-message">{{toastMessage}}</div>
    {{/if}}
    <label for="barcodeM">Barcode:</label>
    <input type="text" name="barcodeM" id="barcode-manual" placeholder="Enter barcode here">
    <br>
    <button type="submit">Submit</button>
  </form>
</div>