<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Showpan</title>
  <link rel="stylesheet" href="/css/styles.css">
  <script src="/client-scripts/client-main.js" defer></script>
  <script src="/client-scripts/client-validation.js" defer></script>
  <script src="/client-scripts/client-load.js" defer></script>
  <script src="/client-scripts/password-help.js" defer></script>
</head>

<body>
  <div id="header">
    <div id="hamburger-menu" onclick="toggleNav()">
      <div class="bar"></div>
      <div class="bar"></div>
      <div class="bar"></div>
    </div>
    <nav class="nav" id="nav">
      <img src="/assets/logo-nb-nt-smiley-200.webp">
      <div class="navicons">
        <a href="/"><img src="/assets/home-icon.png" alt=""></a>
        <a href="/application/diagram"><img src="/assets/sequence.png" alt=""></a>
        <a href="/application/table"><img src="/assets/tablet.png" alt=""></a>
        <a href="/logout"><img src="/assets/logout-icon.png" alt=""></a>
      </div>
    </nav>
  </div>
  <div id="content">
    {{{body}}}
  </div>
</body>
</html>