<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Showpan</title>
  <link rel="stylesheet" href="/css/styles.css">
  <script src="/client-scripts/client-main.js" defer></script>
  <script src="/client-scripts/client-validation.js" defer></script>
  <script src="/client-scripts/barcode-scanning.js" defer></script>

</head>

<body>
  <div id="header">
    <div id="hamburger-menu" onclick="toggleNav()">
      <div class="bar"></div>
      <div class="bar"></div>
      <div class="bar"></div>
    </div>
    <nav class="nav" id="nav">
      <a href="/">Home</a>
      {{!-- <a href="/search">Find Item</a> --}}
      <a href="/logout">Log out</a>
    </nav>
  </div>
  <div id="content" style="height: 1px;">
    {{{body}}}
  </div>
</body>
</body>

</html>