<!-- icon and menu elements -->
<div class="icon"><img src="/assets/sequence.png" alt=""></div>
<div class="menu">
  <ul>
    <li><a href="/application/password-reset-sequence-diagram">Sequence Diagrams</a></li>
    <li><a href="#">Class Diagrams</a></li>
    <li><a href="#">Use Case Narratives</a></li>
  </ul>
</div>