<!-- homepage view -->
<script src="https://cdn.jsdelivr.net/npm/quagga@0.12.1/dist/quagga.min.js"></script>
<div id="hero-content">
  <div class="hero-ctas">
    <!-- General Search -->
    <div class="search-container">
      <input type="text" id="search-box" id="search-box" placeholder="">
      <img src="/assets/search-icon.png" alt="" id="search-btn">
    </div>
    <!-- Start Scanner Prompt -->    
    <div id="hero-intro">
      <h1>Hello, welcome to my site</h1>
      <a href="/application/diagram">Diagram</a>
    </div>
    <!-- Scanning Viewport-->
    <div id="interactive" class="viewport">
    
    </div>
    <!-- Manual Entry Prompt-->
    <div id="manual-entry">
    
    </div>
  </div>
</div>

{{#if toastMessage}}
<p class="toast" id="index-toast">{{toastMessage}}</p>
{{/if}}


