<!-- homepage view -->
<script src="https://cdn.jsdelivr.net/npm/quagga@0.12.1/dist/quagga.min.js"></script>
<div id="hero-content">
  <div class="hero-ctas">
    <!-- General Search -->
    <input type="text" id="search-box" style="width: 12em;" placeholder="Search existing products...">
    <!-- Start Scanner Prompt -->    
    <div>
      <button id="new-item-form-btn">Scan<span><img id="hero-logo" src="/assets/logo-nb-nt-smiley-200.webp" alt="logo-a graphic that appears like a friendly simling face"></span>code</button>
    </div>
    <!-- Scanning Viewport-->
    <div id="interactive" class="viewport">
      <svg id="animatedLine">
        <line x1="0" y1="150" x2="420" y2="150" />
      </svg>
      <div id="camera-frame">
        <video id="camera-stream"></video>
      </div>
    </div>
    <!-- Manual Entry Prompt-->
    <div id="manual-entry">
      <p>Press SHIFT + M to enter a code manually</p>
    </div>
  </div>
</div>

{{#if toastMessage}}
<p class="toast" id="index-toast">{{toastMessage}}</p>
{{/if}}

<!-- Modal for new item-form -->
<div id="new-item-form" class="modal" style="display: {{#if showModal}}block{{else}}none{{/if}};">
  <div class="modal-content">
    {{> new-item-form}}
  </div>
</div>

<!-- Modal for manaul entry of barcode form -->
<div id="enter-manual-barcode-form" class="modal" style="display: {{#if showModal}}block{{else}}none{{/if}};">
  <div class="modal-content">
    {{> manual-barcode-form}}
  </div>
</div>