<!-- password reset confirmation modal-->
<div class="modasl" id="password-reset-confirmation-modal">
  <div class="modasl-content">
    <h3>Confirm Password Reset</h3>
    <form id="password-reset-success">
      <input type="hidden" id="email" name="email" value="{{email}}">
      <input type="hidden" id="resetToken" name="resetToken" value="{{resetToken}}">
      <label for="newPassword">New Password:</label>
      <input type="password" id="newPassword" name="newPassword" required>
      <label for="confirmNewPassword">Confirm New Password:</label>
      <input type="password" id="confirmNewPassword" name="confirmNewPassword" required>
      <button id="reset-password-confirmation-submit" type="button">Submit</button>
    </form>
  </div>
</div>