<!-- homepage view -->
<div id="hero-content">
  <div class="hero-ctas">
    <div>
      <button id="contact-us-btn">Request Free Consult</button>
    </div>
    <div>
      <button id="proposal-us-btn">Generate a free proposal</button>
    </div>
  </div>
  <div id="hero-text-items">
    <div id="hero-intro">
      <h1>Tired of paying multiple passive vendors for the same basic solutions your competitor has? </h1>
      <p>We guarantee to reduce your overall spend and hand you back control</p>
      <p>We empower small Kiwi businesses with cost-effective, bespoke software solutions.</p>
      <p>Our key strengh is 25+ years business and process management experience complimented by our coding and technology skills</p>
      
      <p>No fluff, only pay for results. Start your tech transformation today, with zero commitment to ongoing fees!</p>
      </div>
      <img id="hero-logo" src="/assets/logo-nb-nt-smiley-200.webp" alt="logo-a graphic that appears like a friendly simling face">
  </div>
</div>

<!-- Modal for contact form -->
<div id="contactus" class="modal">
  <div class="modal-content">
    {{> contactus}}
  </div>
</div>

{{!-- <p>Our founder, Richard Clark, has over 25 years of experience in business process consulting and has expert
  level coding and technology skills, making him the perfect ally for your business. With a free 2 week
  consultation period, Richard will work closely with you to understand your technology needs and provide
  customized recommendations to maximize every dollar you spend on technolgy in your business.</p>
<p>Say goodbye to technology headaches and hello to smarter solutions where you understand how every dollar you
  spend is earning your business revenue or reducing costs.</p> --}}
{{!--
<p>Our passion is to empower small Kiwi businesses by providing them with cost-effective, bespoke software
  solutions. Tired of paying multiple passive vendors a little every month for the same website, functionality,
  and software products your competitor already has? We guarantee to reduce your overall spend and/or significantly
  increase the value
  of what you get in return.</p>
<h2>No fluff or nonsense, pay only for what we deliver with ZERO comittment to ongoing fees. Let&#39;s start your
  technology
  transformation today!</h2> --}}

{{!-- 
<p style="margin-top: 100vh">Welcome to our approach to the Rumour to Cash Collection Cycle for small businesses. We understand the importance of a smooth and efficient process from the initial rumour of a sale to the final cash collection. In today&#39;s ever-changing business landscape, staying agile and utilizing the latest technology can make all the difference in achieving success.

The use of software products, such as an accounting package, a website, and an order management tool, can greatly improve the efficiency of your Rumour to Cash Collection Cycle. By utilizing these tools, you can streamline your processes, reduce manual errors, and make real-time data-driven decisions.

For example, using an accounting package can help you keep track of all your financial transactions in one place, making it easier to manage your finances and produce accurate financial reports. This, in turn, can lead to better cash flow management and more informed financial decisions.

A website can also help you reach a wider audience, allowing you to showcase your products and services and accept orders and payments online. This can lead to increased sales and improved customer satisfaction.

An order management tool can help you manage the entire order process from start to finish, from tracking orders and inventory to processing payments and shipping. This can lead to faster order fulfillment and a reduction in manual errors, leading to improved customer satisfaction and repeat business.

The potential for AI and big data to improve your Rumour to Cash Collection Cycle is significant. However, investing in these technologies can seem daunting, especially for small businesses with limited budgets. That#&39;s where experts like us come in. By guiding you through the process and finding the right solutions for your business, we can help you tap into the untapped potential of AI and big data to improve your results.

Investing in these software products and utilizing them in a properly coordinated way can earn itself back in no time. By streamlining your processes, reducing manual errors, and making data-driven decisions, you can see real improvements in your bottom line.

We are speciliase in helping small businesses achieve success by focusing on the Rumour to Cash Collection Cycle. Contact us today to learn more about how we can help you improve your results.</p> --}}
