<!-- icon and menu elements -->
<div class="icon"><img src="/assets/seq.png" alt=""></div>
<div class="menu">
  <ul>
    <li><a href="/app/password-reset-sequence-diagram">Add new Diagrams</a></li>
    <li><a href="/diagrams/diagrams">View Existing Diagrams</a></li>
  </ul>
</div>