<!-- homepage view -->
<div id="hero-content">
  <div class="background-img"></div>
  <div class="hero-ctas">
    <!-- General Search -->
    <div class="search-container">
      <input type="text" id="search-box" placeholder="">
      <img src="/assets/search-icon.png" alt="" id="search-btn">
    </div>
    <div id="hero-intro">
      <h1>Business Analysis Fundementals</h1>
      
      <a href="/app/diagram"><img src="/assets/seq.png" alt=""></a>
      <a href="/app/tregidy"><img src="/assets/help.png" alt=""></a>
    </div>
  </div>
</div>

{{#if toastMessage}}
<p class="toast" id="index-toast">{{toastMessage}}</p>
{{/if}}


