{{!-- resetpassword form --}}
<div class="reset-password-form">
  <h1>Reset Password</h1>
  <p>Please enter a new password for your account:</p>
  <form method="POST" action="/reset/resetpassword" id="reset-password-form">
    <div class="logo-form-top">
      <img src="/assets/logo.webp" alt="logo" style="height: 40px; width: 40px; margin: -9px -10px -1px 0px;">
      <span class="close" id="reset-close">&times;</span>
      <br>
    </div>
    <input type="hidden" name="email" value="{{email}}">
    <input type="hidden" name="token" value="{{token}}">
    <label for="password">New Password:</label>
    <input type="password" name="password" id="password" required>
    <br><br>
    <label for="confirmPassword">Confirm Password:</label>
    <input type="password" name="confirmPassword" id="confirmPassword" required>
    <br><br>
    <button type="submit">Reset Password</button>
  </form>
</div>
<script>
  const ham = document.querySelector('#hamburger-menu');
  ham.style.display = 'none';
  const password = document.getElementById('password');
  const confirmPassword = document.getElementById('confirmPassword');

  function validatePassword() {
    if (password.value !== confirmPassword.value) {
      confirmPassword.setCustomValidity('Passwords do not match');
    } else {
      confirmPassword.setCustomValidity('');
    }
  }

  password.addEventListener('change', validatePassword);
  confirmPassword.addEventListener('keyup', validatePassword);
</script>